<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>UserModule</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
    <description></description>
    <display-name>SubjectController</display-name>
    <servlet-name>SubjectController</servlet-name>
    <servlet-class>controller.SubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectController</servlet-name>
    <url-pattern>/SubjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizController</display-name>
    <servlet-name>QuizController</servlet-name>
    <servlet-class>controller.QuizController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizController</servlet-name>
    <url-pattern>/QuizController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionController</display-name>
    <servlet-name>QuestionController</servlet-name>
    <servlet-class>controller.QuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionController</servlet-name>
    <url-pattern>/QuestionController</url-pattern>
  </servlet-mapping>
</web-app>